<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <style>
        .devv {
            display: flex;
            justify-content: space-around;
        }

        .devv2 {
            display: flex;
            margin-top: 2rem;
        }

        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 2rem;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>

    <body>   
    <!--Add a nav fbar here -->
        <header>
            <nav>
                <!-- <ul>
                    <li>
                        <a href="/djangoapp/about">About</a>
                    </li>
                    <li>
                        <a href="/djangoapp/contact">Contact us</a>
                    </li>
                    <li>Services</li>
                </ul> -->
                {% if not user.is_authenticated %}
                <div class="devv">
                    <h1>Dealership Review</h1>
                    <div>
                        <form method="post" action="{% url 'djangoapp:login' %}" class="devv2">
                            {% csrf_token %}
                            <input type="text" placeholder="example" required  id="username" name="username"/>
                            <input type="password" placeholder="123**ex" id="password" name="password" required>
                            <button type="submit">Log in</button>
                        </form>
                        <a href="/djangoapp/registration">try registration?</a>
                    </div>
                </div>
                {% else %}
                <div class="devv">
                    <h1>Dealership Review</h1>
                    <div>
                        <div class="devv2">
                            <h2>{{username}}</h2>
                            <form action="{% url 'djangoapp:logout' %}">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
            </nav>
        </header>
        <section>
            {% block bodyParts %} {% endblock %}
        </section>
    <!--Add a dealer table here -->
    {% if not user.is_authenticated %}
    <table>
        <tr>
          <th>ID</th>
          <th>Dealer name</th>
          <th>City</th>
          <th>Address</th>
          <th>State</th>
        </tr>

        {% for dealer in dealerships %}
        <tr>
            <td>{{ dealer.id }}</td>
            <td>{{ dealer.full_name }}</td>
            <td>{{ dealer.city }}</td>
            <td>{{ dealer.address }}</td>
            <td>{{ dealer.state }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </body>

</html>
